body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    display: flex;
}

#top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

#dream-banner {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    font-size: 50px;
}

a {
    color: white;
    background-image: linear-gradient(to right, rgb(241, 58, 58), rgb(245, 245, 110));
    text-decoration: none;
    padding: 10px 27px;
    border-radius: 10px;
    margin-top: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;

}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    padding: 50px;

}

#tufayel-image {
    width: 90%;
}

#full-stack-dev {
    border-left: 10px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    padding: 40px;
    margin-left: 2%;
    margin-right: 2%;
}

#full-stack-dev h1 {
    font-size: 40px;
}

#baby-web-dev {
    border-left: 10px solid;
    border-image: linear-gradient(red, rgb(207, 163, 155));
    border-image-slice: 1;
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    padding: 40px;
    margin-left: 2%;
    margin-right: 2%;
}

#baby-web-dev h1 {
    font-size: 40px;
}

footer {
    text-align: center;
    margin-top: 130px;
}